<header class="petshop-header">
  <div class="header-container">
    <div class="logo-area">
      <img src="https://static.vecteezy.com/system/resources/previews/015/693/563/non_2x/dog-and-cat-logo-for-pet-shop-vector.jpg" alt="Logo PetShop Online" class="shop-logo">
      <h1>PetShop Online</h1>
    </div>
    <p class="tagline">Vocación por la excelencia en el cuidado de tu mascota</p>
  </div>
</header>

<nav class="petshop-nav">
  <ul>
    <li><a (click)="navegarA('inicio')" style="cursor: pointer;">Inicio</a></li>
    <li><a (click)="navegarA('catalogo')" style="cursor: pointer;">Catálogo</a></li>
    <li><a (click)="navegarA('seccion-contacto')" style="cursor: pointer;">Contacto</a></li>
    
    <li>
      <a (click)="irAlCarrito()" class="btn-carrito-nav">
        🛒 Carrito
        <span class="badge-carrito" *ngIf="carritoService.cantidadTotal > 0">
          {{ carritoService.cantidadTotal }}
        </span>
      </a>
    </li>
  </ul>
</nav>